body{
  
background-image: url("../image/pic4.jpg");
    align-items: center;
    
   
}
header{
   font-family: Arial, Helvetica, sans-serif;
    font-size: 30px ;
    padding: 10px;
border-radius: 1px solide black;
text-align: center;
   background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
color: black;}
div{
     
     border-radius: 10px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
   background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
nav{
    text-align: left;
   
    background-color: rgb(223, 233, 236);
 padding: 15px;
    margin-right: 1600px;
    margin-top: 50px;
   background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
section{
    text-align: left;
}
.content{
color: black;
border: 1px;

}
footer{
      background-color: black;
    color: blanchedalmond;
margin-top: 900px;
   
    text-align: center;
    padding: 18px;
    background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
color: black;
}

h1{

    font-size: 18px;
    color: black;
    text-decoration: none;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
   