/*page d'acceuil*/
body {
    
    background-image: url("../image/123.jpg");
    background-repeat: no-repeat;
    background-size: 1024px;
    background-position: center;
    
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;

}

.global {
    position: relative;
    width: 1024px;
    margin: 0 auto;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: black;
}

nav {
  position: sticky;
    text-align: left;
    padding: 15px;
    margin-right: 900px;
    margin-top: 50px;
}

nav a {
    display: block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-decoration: none;
    color: black;
}
.section{
  position: sticky;
  z-index: 1;
  top: 30px;
}
.card:hover   {
            
            transform: scale(1.1); 
            background-color: #2980b9;
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        }
        .card1:hover {
            
            transform: scale(1.1); 
            background-color: #2980b9;
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        }
.card2:hover {
            
            transform: scale(1.1); 
            background-color: #2980b9;
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        }
 .card3:hover  {
            
            transform: scale(1.1); 
            background-color: #2980b9;
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        }
.card6:hover  {
            
            transform: scale(1.1); 
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        }

.card {
    position: absolute;
    border-radius: 60px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    left: 300px;
    top: 50px;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card1 {
    position: absolute;
    border-radius: 60px;
    left: 600px;
    top: 50px;
    width: 200px;
    height: 200px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 3px solid rgba(255, 255, 255, 0.3);
}

.card2 {
    position: absolute;
    border-radius: 10px;
    padding: 20px;
    left: 300px;
    top: 350px;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 3px solid rgba(255, 255, 255, 0.3);
}

.card3 {
    position: absolute;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    left: 600px;
    top: 350px;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
footer {
    background-color: black;
    color: blanchedalmond;
    margin-top: 650px;
    text-align: center;
    padding: 18px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: black;
}


/*css les autre page*/


section{
    position: relative;
    text-align: left;
}

.content{
  position: relative;
    color: black;
    border: 1px;
}

.card6{
    margin-left: 200px;
    margin-right: 50px;
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.index{
        background-image: url("../image/a.jpg"); ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.rapport{
        background: url(./../image/rapport.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}
.interview{
       background: url(./../image/x.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.parcours{
   background: url(./../image/b.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.conclusion{
        background: url(./../image/conclu.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
  color: black;
}